*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* font-family: 'Montserrat', sans-serif; */

}
html {
    background-image: linear-gradient(
      rgb(25, 183, 197, 0.9),
      rgb(98, 233, 86, 0.8)
    );
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
}
body{
    width:100vw;
}
.commondiv{
    width:60vw;
    margin-left: 20vw;
    margin-top: 20vh;
}
.heading {
    text-align: center;
    background-image: linear-gradient(90deg, rgb(117, 6, 221), rgb(21, 197, 241));
    font-size: 40px !important;
    padding:2% 0%;
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
    color: white;
    text-align: center;
}
.formbody{
    background-color: white;
    color:black;

}
.lab{
    font-size: 22px;
}
.email{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 30px 40px;
    display: flex;
}
.pwd{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 30px 40px;
    display: flex;
}
input{
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    margin-left:20px;
    font-size:20px;
    width:100%;
}
.login_button{
    font-size: 20px;
    background-image: linear-gradient(90deg, rgb(117, 6, 221), rgb(21, 197, 241));
    padding:0.5% 2%;
    min-width: 200px;
    color:white;
    margin-bottom: 20px;
}
p{
    margin-left: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto';
}